<h1>Distributed caching</h1>
<input [(ngModel)]="id" placeholder="Type ID" />
<button (click)="load()">Call API</button>

<main class="container">
    <h1>Cache Configuration</h1>

    <p>
        Changing the configuration will clear all existing data from L1 and L2 caches.
    </p>

    <form #cacheForm="ngForm" (ngSubmit)="saveCacheConfig()">
        <div class="form-group">
            <label for="l1MaxEntries">
                Maximum number of elements in L1 cache
            </label>

            <input id="l1MaxEntries" name="l1MaxEntries" type="number" min="1" required
                [(ngModel)]="cacheConfig.l1MaxEntries" />
        </div>

        <div class="form-group">
            <label for="l2MaxEntries">
                Maximum number of elements in L2 cache
            </label>

            <input id="l2MaxEntries" name="l2MaxEntries" type="number" min="1" required
                [(ngModel)]="cacheConfig.l2MaxEntries" />
        </div>

        <div class="form-group">
            <label for="l1TTLSeconds">
                L1 TTL in seconds
            </label>

            <input id="l1TTLSeconds" name="l1TTLSeconds" type="number" min="1" required
                [(ngModel)]="cacheConfig.l1TTLSeconds" />
        </div>

        <div class="form-group">
            <label for="l2TTLSeconds">
                L2 TTL in seconds
            </label>

            <input id="l2TTLSeconds" name="l2TTLSeconds" type="number" min="1" required
                [(ngModel)]="cacheConfig.l2TTLSeconds" />
        </div>

        <div class="form-group">
            <label for="semaphoreSize">
                Maximum number of concurrent backend requests
            </label>

            <input id="semaphoreSize" name="semaphoreSize" type="number" min="1" required
                [(ngModel)]="cacheConfig.semaphoreSize" />
        </div>

        <p class="validation-error" *ngIf="
        cacheConfig.l1MaxEntries > 0 &&
        cacheConfig.l2MaxEntries > 0 &&
        cacheConfig.l1MaxEntries > cacheConfig.l2MaxEntries
      ">
            L1 size cannot be greater than L2 size.
        </p>

        <button type="submit" [disabled]="
        loading ||
        cacheForm.invalid ||
        cacheConfig.l1MaxEntries > cacheConfig.l2MaxEntries
      ">
            {{ loading ? 'Saving...' : 'Save configuration' }}
        </button>
    </form>

    <p class="success-message" *ngIf="successMessage">
        {{ successMessage }}
    </p>

    <p class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
    </p>
</main>